Graphviz/allMOFiles.txt
Graphviz/DepMaster.gv
Graphviz/DepMaster.png
*.pyc
Graphviz/Dependencies/
build/
dist/
*.egg-info*
modelicapy/raven/pyfmi_raven/
modelicapy/raven/out.log
modelicapy/wordclouds/InternationalModelicaConference/original/
modelicapy/optimization/*
!modelicapy/optimization/ModelicaModelOptimization.py
!modelicapy/optimization/OptimizationDemonstration
modelicapy/raven/fmpy/fmpy_raven/
*dsfinal.txt
*results.csv
modelicapy/raven/fmpy/fmpy_*
modelicapy/raven/fmpy/optimize/fmpy_*
modelicapy/raven/plugin/tests/test_*
modelicapy/raven/plugin/tests/optimize/
*.ravenStatus
modelicapy/raven/plugin/tests/log/
*.ipynb_checkpoints
*opt_export.csv
*opt_export.xml
*opt_export_0.csv
*optOut.csv
*optOut.xml
modelicapy/raven/plugin/src/temp/
