Graphviz/allMOFiles.txt
Graphviz/DepMaster.gv
Graphviz/DepMaster.png
*.pyc
Graphviz/Dependencies/
build/
dist/
*.egg-info*
modelicapy/raven/pyfmi_raven/
modelicapy/raven/out.log
modelicapy/wordclouds/InternationalModelicaConference/original/
modelicapy/optimization/*
!modelicapy/optimization/ModelicaModelOptimization.py
!modelicapy/optimization/OptimizationDemonstration
modelicapy/raven/fmpy/fmpy_raven/
*dsfinal.txt
*results.csv
